@use "../../styles/variables";

.news-review {
  background-color: variables.$very-dark-blue;
  margin-top: 3rem;
  padding: 2em;
  min-width: 350px;
  height: 100%;

  &__heading {
    color: variables.$soft-orange;
    margin-bottom: 1.2rem;
    font-size: 2.3rem;
    font-weight: variables.$bold;
  }
  &__list {
    color: variables.$off-white;
    display: grid;

    & > *:not(:last-child) {
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 1px solid grey;
    }
  }
}

@media (min-width: 900px) {
  .news-review {
    margin-top: 0;
  }
}