.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > .navbar {
    display: none;
  }
}

@media (min-width: 900px) {
  .header {
    margin-bottom: 2rem;
  }
  .header > .navbar {
    display: flex;
  }
  .header--menu-button {
    display: none;
  }
}
